.main{
    background: #f5f5f5;
    padding-bottom: 30px;
    // padding: 30px 25px 30px 30px;
    // font-size: 13px;
    .menu-header{
        background: #e8e8e8;
        padding: 10px 25px 10px 30px;
        margin: 25px 0px 15px;
        font-size: 13px;
        overflow: hidden;
        ul{
            display: flex;
            overflow: hidden;
            margin-bottom: 0px;
            &::before{
                content: "";
                display: inline-block;
                background: #145a8d;
                position: absolute;
                width: 30px;
                height: 30px;
                left: 0px;
                top: 0px;
                transform: rotate(45deg) translateX(-20px);
            }
            &::after{
                content: "";
                display: inline-block;
                background: #145a8d;
                position: absolute;
                width: 30px;
                height: 30px;
                top: inherit;
                left: inherit;
                right: 0px;
                bottom: 0px;
                transform: rotate(45deg) translateX(21px);
            }
            li{
                padding: 10px;
                font-size: 15px;
                list-style: none;
            }
        }
    }
    .company-contact{
        h3{
            padding-bottom: 20px;
            &::before{
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 1px;
                top: 54px;
                left: 0px;
                bottom: 0px;
                background: linear-gradient(90deg, #c4c5c5 0%, #e1e1e1 10%, #e1e1e1 10%, #e1e1e1 90%, #e1e1e1 90%, #f5f5f5 100%);
            }
            &::after{
                content: "";
                display: block;
                position: absolute;
                width: 125px;
                height: 7px;
                top: 53px;
                bottom: -5px;
                margin: 0 auto;
                background: url(//bizweb.dktcdn.net/100/360/494/themes/729420/assets/bg-heading.png?1585401487037) center no-repeat;
            }
        }
        ul{
            padding-left: 10px;
            li{
                list-style: none;
                line-height: 2;
            }

        }
        .contact-form{
            padding-top: 10px;
        }
    }
    .form-contact{
        h3{
            padding-bottom: 20px;
            &::before{
                content: "";
                display: block;
                position: absolute;
                width: 100%;
                height: 1px;
                top: 54px;
                left: 0px;
                bottom: 0px;
                background: linear-gradient(90deg, #c4c5c5 0%, #e1e1e1 10%, #e1e1e1 10%, #e1e1e1 90%, #e1e1e1 90%, #f5f5f5 100%);
            }
            &::after{
                content: "";
                display: block;
                position: absolute;
                width: 125px;
                height: 7px;
                top: 53px;
                bottom: -5px;
                margin: 0 auto;
                background: url(//bizweb.dktcdn.net/100/360/494/themes/729420/assets/bg-heading.png?1585401487037) center no-repeat;
            }
        }
    }
}