.detail{
    .title-product{
        h2{
            &::after {
                position: absolute;
                content: "";
                left: 0;
                top: 41px;
                width: 3px;
                height: 39px;
                background: #5191fa;
            }
        }
        .checked {
            color: orange;
        }
        .mySlides{
            .numbertext {
                color: #f2f2f2;
                font-size: 12px;
                padding: 8px 12px;
                position: absolute;
                top: 0;
            }
        }
        .prev, .next {
            cursor: pointer;
            position: absolute;
            top: 40%;
            width: auto;
            padding: 16px;
            margin-top: -50px;
            color: white;
            font-weight: bold;
            font-size: 20px;
            border-radius: 0 3px 3px 0;
            user-select: none;
            -webkit-user-select: none;
        }
        .next {
            right: 15px;
            border-radius: 3px 0 0 3px;
        }
        .column {
            float: left;
            width: 16.66%;
            padding: 2px 1px 2px 2px;
            background: black;
        }
        .demo{
            opacity: 0.6;
        }
        .active, .demo{
            cursor: pointer;
            &:hover {
                opacity: 1;
            }
        }
        .nav-tabs {
            border-bottom: 1px solid #ddd;
        }
        .contact{
            fieldset {
                border: 2px solid #612020 !important;
                padding: 36px;
                position: relative;
                border-radius: 4px;
                background-color: #f5f5f5;
                padding-left: 10px!important;
                background: #9c9c9c75;
            }
            legend {
                font-size: 14px;
                font-weight: bold;
                margin-bottom: 0px;
                width: 40%;
                border: none;
                border-radius: 4px;
                padding: 5px 5px 5px 10px;
                background: #71000075;
                color: white;
            }
        }
        .comment{
            h3{
                &::after {
                    content: '';
                    width: 200px;
                    display: block;
                    border-bottom: #DF0622 1px solid;
                    padding-bottom: 20px;
                }
            }
        }
    } 
    .info-user {
        border: 1px solid #9696967a;
        width: 100%;
        padding: 14px;
        .user-title {
            padding-top: 10px;
        }
    }
    .product-related{
        .title-detail-product{
            h3{
                &::after {
                    position: absolute;
                    content: "";
                    left: 10px;
                    /* top: 17px; */
                    width: 3px;
                    height: 32px;
                    background: #5191fa;
                }
            }
        }
        .media{
            .media-body{
                .review-star{
                    .checked {
                        color: orange;
                    }
                    .media-heading-product {
                        color: #131384;
                    }
                }
            }
        }
    }
    
}