@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
    .photo img{
        margin: 0 auto;
        width: 100%;
    }
    .info{
        padding: 10px;
        border-radius: 0 0 5px 5px;
        margin-top: 1px;
        .rating
        {
            color: #777;
        }
    }
    .price{
        /*width: 50%;*/
        float: left;
        margin-top: 5px;
        h5{
            line-height: 20px;
            margin: 0;
        }
    }
    &:hover{
        .info {
            background-color: #F5F5DC;
        }
    }
    .rating
    {
        /*width: 50%;*/
        float: left;
        font-size: 17px;
        text-align: right;
        line-height: 52px;
        margin-bottom: 10px;
        height: 52px;
    }
    .separator
    {
        border-top: 1px solid #E1E1E1;
        p
        {
            line-height: 20px;
            margin-bottom: 0;
            margin-top: 10px;
            text-align: center;
            i
            {
                margin-right: 5px;
            }
        }
    }
    .btn-add
    {
        width: 50%;
        float: left;
        border-right: 1px solid #E1E1E1;
    }
    .btn-details
    {
        width: 50%;
        float: left;
        padding-left: 10px;
    }
    .controls
    {
        margin-top: 20px;
    }
}
.price-text-color
{
    color: #219FD1;
}
.clear-left
{
    clear: left;
}
[data-slide="prev"]
{
    margin-right: 10px;
}
.product{
    .pull-right {
        float: right;
        margin-top: 20px;
        margin-bottom: 10px;
    }
    h3{
        &::before{
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            top: 54px;
            left: 0px;
            bottom: 0px;
            background: linear-gradient(90deg, #f8f8f8 0%, #e1e1e1 10%, #e1e1e1 10%, #e1e1e1 90%, #e1e1e1 90%, #f8f8f8 100%);
        }
        &::after{
            content: "";
            display: block;
            position: absolute;
            width: 125px;
            height: 7px;
            top: 53px;
            bottom: -5px;
            margin: 0 auto;
            background: url(//bizweb.dktcdn.net/100/360/494/themes/729420/assets/bg-heading.png?1585401487037) center no-repeat;
        }
    }
}